@import "component";

:host {
  .map-container {
    position: relative;

    di-map {
      border-radius: 32px;
      height: 30vh;
      overflow: hidden;

      margin-bottom: 32px;
    }
  }

  .scenario-activity__container {
    h2 {
      @include font(24, 600);
      color: $text-default;
      margin: 0 0 16px;
    }
  }
}
