// This will be included by all components
@import "component";

:host {
  display: flex;
  flex-direction: column;

  .map-container {
    position: relative;
    height: 60vh;

    di-map {
      border-radius: 32px;
      overflow: hidden;
    }
  }
}
