// Normalize include
@import "~normalize.css/normalize.css";


// Material Theme Include
@import '~@angular/material/theming';

@include mat-core();
$primary: mat-palette($mat-blue, 700);
$accent: mat-palette($mat-light-blue, 600, 100, 800);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

// Leaflet
@import "~leaflet/dist/leaflet.css";

// Application
@import "_base/base";
@import "_icons/nucleo";
