$background-color: #F0F4F8;

$side-bar-background: #FFFFFF;
$side-bar-item: #FFFFFF;
$side-bar-item-active: #064DFE;

$text-default: #1D2332;
$text-gray: #6D7280;
$text-white: #FFFFFF;
$text-link: #064DFE;

$icon-white: #FFFFFF;

$button-cta: #064DFE;

$border-default: #EAF0FD;

$input-background: #F2F5FA;

$prio-emergency: #F20C00;
$prio-high: #F24900;
$prio-medium: #FFC200;
$prio-low: #4b4f5b;
