<div class="scenario-list__header">
  <h2>Scenarios</h2>
  <a [routerLink]="'/app/scenarios'">View all</a>
</div>

<div class="scenario-list__container">
  <div *ngFor="let report of reports" class="scenario-list__item">
    <div class="scenario-list__item-icon">
      🚨
    </div>

    <div class="scenario-list__item-information">
      <p class="item-information__title">
        {{ report.caller }}
      </p>
      <div class="item-information__wrapper">
        <span class="item-information__prio item-information__prio--{{ 0 | prio : true }}">
          <i class="di-icon di-{{ 0 | prio : false : true }}"></i>
          {{ 0 | prio }}
        </span>
        <span class="item-information__time">
          {{ report.createdAt | timeago }}
        </span>
      </div>
    </div>
  </div>
</div>
