@import "component";

:host {
  display: flex;
  flex-direction: column;

  .scenario-list__header {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 16px;

    h2 {
      margin: 0;
      flex: 1;

      @include font(24, 600);
      color: $text-default;
    }

    a {
      margin: 0;
      text-decoration: none;
      cursor: pointer;

      @include font(16, 500);
      color: $text-link;
    }
  }

  .scenario-list__container {
    display: flex;
    flex-direction: column;

    .scenario-list__item {
      display: flex;
      flex-direction: row;
      align-items: center;

      height: 84px;
      border-radius: 20px;
      padding: 16px;
      box-sizing: border-box;
      background: $scenario-item-background;

      margin-bottom: 12px;
      overflow: hidden;
      cursor: pointer;
      transition: box-shadow .25s ease-out;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
      }

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 50px;
        min-width: 50px;
        height: 50px;
        background: #F19292;
        border-radius: 16px;
        @include font(24);

        margin-right: 16px;
      }

      &-information {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .item-information__title {
          margin: 0 0 6px;
          @include font(16, 600);
          color: $text-default;
        }

        .item-information__wrapper {
          display: flex;
          flex-direction: row;
          white-space: nowrap;
        }

        .item-information__prio {
          @include font(12, 500);
          margin-right: 12px;

          &--emergency {
            color: $prio-emergency;
          }

          &--high {
            color: $prio-high;
          }

          &--medium {
            color: $prio-medium;
          }

          &--low {
            color: $prio-low;
          }

          i {
            @include font(10);
            margin-right: 3px;
          }
        }

        .item-information__time {
          @include font(12, 500);
          color: $text-gray;
        }
      }
    }
  }
}
