@import "component";

// Styling of the left menu when it's opened
.side-bar {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 200px;
  // height: 100%; Doesn't work on safari
  height: 100vh;
  background-color: $side-bar-background;

  color: $text-default;

  overflow-x: hidden;
  transition: width .25s ease-out;

  .side-bar__logo-container {
    margin: 32px 0 132px;
    display: flex;
    position: relative;
    outline: none;
    cursor: pointer;

    transition: margin .25s ease-out;

    .side-bar__logo {
      position: absolute;
      width: 100%;
      text-align: center;
      margin: 0;

      @include font(32, 800);
      font-family: 'Darker Grotesque', sans-serif;
      white-space: nowrap;
      transition: opacity .15s ease-out;

      span {
        color: $text-link;
        font-weight: bold;
      }

      &--small {
        @include font(22, 800);
        opacity: 0;
      }
    }
  }

  // Styling of the container with all the childs in it
  .side-bar__menu-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;

    @include scrollbars(5px, $text-default, transparent);

    // Syling of the tabs
    // it needs to have a width of 100% so the mixins can be used to center the svg-icons
    .side-bar__tabs {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;

      .side-bar__tab {
        display: flex;
        flex-direction: row;
        align-items: center;

        cursor: pointer;
        user-select: none;
        outline: none;
        text-decoration: none;

        color: $text-default;

        min-height: 45px;
        margin: 0 16px 14px;
        border-radius: 14px;
        background: $side-bar-item;

        transition: color .25s ease-out, box-shadow .25s ease-out, border-left-color .25s ease-out, margin .25s ease-out;

        // Icons in tab
        .di-icon {
          color: $text-default;
          margin: 0 14px;
          transition: margin .25s ease-out, color .25s ease-out;
        }

        // Button left in tab
        span {
          @include font(14, 600);
          white-space: nowrap;

          transition: opacity .10s ease-out;
        }

        // Move a tab to the button
        &--bottom {
          margin-top: auto;
          margin-bottom: 32px !important;
        }

        // Disabled state for a button
        &--disabled {
          opacity: .3;
          pointer-events: none;
        }

        // Hover effect for the side-bar tab
        &:hover,
        &.side-bar__tab--active {
          color: $text-white;
          background: $side-bar-item-active;

          .di-icon {
            color: $icon-white;
          }
        }

        &.side-bar__tab--active {
          box-shadow: 0 2px 10px 0 rgba(6, 77, 254, .50);
        }
      }

      .side-bar__container-divider {
        display: flex;
        height: 1px;
        width: calc(100% - 32px);
        margin: 32px 16px;
        background: $border-default;
      }
    }

    // Styling of the footer
    // flex: 1 and align-items: center will push the footer to bottom as long the container height is 100%
    .side-bar__footer {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      flex: 1 1 auto;

      margin-bottom: 5px;
    }
  }

  // Styling of the closed menu
  // the span, header and footer are set to display none so they don't appear in the menu it is closed.
  &.side-bar--closed {
    width: 50px;

    .side-bar__logo-container {
      margin: 32px 0 132px;

      .side-bar__logo {
        opacity: 0;

        &--small {
          opacity: 1;
        }
      }
    }

    // Styling of the container and the menu's
    // it needs to be centered to center the icons in the menu
    .side-bar__menu-container .side-bar__tabs .side-bar__tab,
    ::ng-deep .side-bar__menu-container .side-bar__tabs .side-bar__tab {
      margin: 0 0 14px;


      .di-icon {
        margin: 0 0 0 15px;
      }

      span {
        opacity: 0;
      }

      &--bottom {
        margin-top: auto;
        margin-bottom: 32px !important;
      }
    }

    // Span in header
    ::ng-deep .side-bar__header span {
      opacity: 0;
    }

    // Footer in left menu
    .side-bar__footer {
      display: none;
    }
  }
}

