<h3 class="info-title">
  Scenario info
</h3>

<form (ngSubmit)="updateScenario()" [formGroup]="scenarioDetailPageService.formGroup" class="grid-container--fluid">
  <div class="row">
    <div class="input-field input-field--margin-bottom col col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <label class="input-field__label" for="scenarioName">Scenario name</label>
      <input class="input-field__input"
             [formControlName]="'scenarioName'"
             type="text"
             id="scenarioName">
    </div>

    <div class="input-field col col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <label class="input-field__label" for="status">Status</label>
      <div class="scenario-status scenario-status--{{scenarioDetailPageService.report.callStatus}}"
           id="status">
        {{ scenarioDetailPageService.report.callStatus }}
      </div>
    </div>

    <div class="input-field input-field--margin-bottom col col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <label class="input-field__label" for="department">Department</label>
      <input class="input-field__input"
             readonly
             [formControlName]="'department'"
             type="text"
             id="department">
    </div>

    <div class="input-field col col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <label class="input-field__label" for="createdAt">Created at</label>
      <input class="input-field__input"
             readonly
             [formControlName]="'createdAt'"
             type="text"
             id="createdAt">
    </div>

    <div class="input-field col col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <label class="input-field__label" for="updatedAt">Updated at</label>
      <input class="input-field__input"
             readonly
             [formControlName]="'updatedAt'"
             type="text"
             id="updatedAt">
    </div>
  </div>


  <button type="submit"
          class="button button--small update-button">
    Update
  </button>
</form>
