<h3 class="chat-title">
  Chat
</h3>
<ng-container *ngFor="let question of questionnaire?.questions">
  <div class="chat-message chat-message--ai">
    {{ question.question }}
  </div>
  <div class="chat-message" *ngIf="question.type === 'Scale' && question?.outcome?.priority">
    Fire is progressing to a <b>{{ question?.outcome?.forValue }}</b>
  </div>
  <div class="chat-message chat-message--ai"  *ngIf="question.type === 'Scale' && question?.outcome?.priority">
    Escalating Scenario to <b>{{question?.outcome?.priority | prio}}</b> priority
  </div>
</ng-container>
<ng-container *ngIf="!questionnaire?.questions">
  <div class="chat-message chat-message--ai">
    No messages
  </div>
</ng-container>
