<ng-container *ngFor="let icon of (scenarioDetailPageService.report | scenarioIcons)">
  <div class="activity-item">
    <div class="activity-item__icon">
      {{ icon.icon }}
    </div>

    <div class="activity-item__information">
      <p class="activity-item__information-title">
        {{ icon.description }}
      </p>
    </div>
  </div>
</ng-container>
<div class="activity-item">
  <div class="activity-item__icon">
    🚨
  </div>

  <div class="activity-item__information">
    <p class="activity-item__information-title">
      Scenario started
    </p>
    <p class="activity-item__information-time">
      {{ scenarioDetailPageService.report.createdAt | date :'dd-MM-yyyy HH:mm:ss'}}
    </p>
  </div>
</div>
